In [43]:
from geoband.API import *
import pandas as pd
import folium
import json
import geopandas as gpd
from geojson import Feature, FeatureCollection, Point, dump
import matplotlib.pyplot as plt
import jenkspy
import numpy as np
plt.rc("font", family = "Malgun Gothic")
%matplotlib inline
import warnings
warnings.filterwarnings(action='ignore')

In [44]:
parking=GetCompasData('SBJ_2012_001', '1', '1.오산시_주정차단속(2018~2020).csv')
grid_accident=GetCompasData('SBJ_2012_001', '2', '2.오산시_어린이교통사고_격자.geojson')
grid_car_enrollment=GetCompasData('SBJ_2012_001', '3', '3.오산시_차량등록현황_격자.geojson')
pop=GetCompasData('SBJ_2012_001', '4', '4.오산시_연령별_거주인구격자(총인구).geojson')
junior_pop=GetCompasData('SBJ_2012_001', '5', '5.오산시_연령별_거주인구격자(유소년).geojson')
product_pop=GetCompasData('SBJ_2012_001', '6', '6.오산시_연령별_거주인구격자(생산가능인구).geojson')
senior_pop=GetCompasData('SBJ_2012_001', '7', '7.오산시_연령별_거주인구격자(고령).geojson')
floating_pop=GetCompasData('SBJ_2012_001', '8', '8.오산시_유동인구(2019).csv')
protection_area=GetCompasData('SBJ_2012_001', '9', '9.오산시_어린이보호구역.csv')
school=GetCompasData('SBJ_2012_001', '10', '10.오산시_학교위치정보.csv')
elementary_district=GetCompasData('SBJ_2012_001', '11', '11.오산시_초등학교_통학구.geojson')
middle_district=GetCompasData('SBJ_2012_001', '12', '12.오산시_중학교_학군.geojson')
kinder=GetCompasData('SBJ_2012_001', '13', '13.오산시_어린이집_유치원현황.csv')
weather=GetCompasData('SBJ_2012_001', '14', '14.오산시_기상데이터(2010~2019).csv')
traffic_cctv=GetCompasData('SBJ_2012_001', '15', '15.오산시_무인교통단속카메라.csv')
road_sign=GetCompasData('SBJ_2012_001', '16', '16.오산시_도로안전표지표준데이터.csv')
crosswalk=GetCompasData('SBJ_2012_001', '17', '17.오산시_횡단보도.geojson')
speed_bump=GetCompasData('SBJ_2012_001', '18', '18.오산시_과속방지턱표준데이터.csv')
traffic_sign=GetCompasData('SBJ_2012_001', '19', '19.오산시_신호등.geojson')
cctv=GetCompasData('SBJ_2012_001', '20', '20.오산시_CCTV설치현황.csv')
sidewalk=GetCompasData('SBJ_2012_001', '21', '21.오산시_인도.geojson')
bus_station=GetCompasData('SBJ_2012_001', '22', '22.오산시_버스정류장.csv')
road=GetCompasData('SBJ_2012_001', '23', '23.오산시_상세도로망_LV6.geojson')
traffic=GetCompasData('SBJ_2012_001', '24', '24.평일_전일,시간대별_오산시_추정교통량_Level6.csv')
traffic_frequency=GetCompasData('SBJ_2012_001', '25', '25.평일_전일_오산시_혼잡빈도강도_Level6.csv')
traffic_time=GetCompasData('SBJ_2012_001', '26', '26.평일_전일_오산시_혼잡시간강도_Level6.csv')
building=GetCompasData('SBJ_2012_001', '27', '27.오산시_도로명주소_건물.geojson')
grid_building=GetCompasData('SBJ_2012_001', '28', '28.오산시_건물연면적_격자.geojson')
sports=GetCompasData('SBJ_2012_001', '29', '29.오산시_체육시설현황.csv')
academy=GetCompasData('SBJ_2012_001', '30', '30.오산시_학원_및_교습소_현황.csv')
le_sig=GetCompasData('SBJ_2012_001', '31', '31.오산시_법정경계(시군구).geojson')
ad_emd=GetCompasData('SBJ_2012_001', '32', '32.오산시_행정경계(읍면동).geojson')
le_emd=GetCompasData('SBJ_2012_001', '33', '33.오산시_법정경계(읍면동).geojson')
cadastral_map=GetCompasData('SBJ_2012_001', '34', '34.오산시_지적도.geojson')

In [45]:
parking=pd.read_csv('1.오산시_주정차단속(2018~2020).csv')
grid_accident=gpd.read_file('2.오산시_어린이교통사고_격자.geojson')
grid_car_enrollment=gpd.read_file('3.오산시_차량등록현황_격자.geojson')
pop=gpd.read_file('4.오산시_연령별_거주인구격자(총인구).geojson')
junior_pop=gpd.read_file('5.오산시_연령별_거주인구격자(유소년).geojson')
product_pop=gpd.read_file('6.오산시_연령별_거주인구격자(생산가능인구).geojson')
senior_pop=gpd.read_file('7.오산시_연령별_거주인구격자(고령).geojson')
floating_pop=pd.read_csv('8.오산시_유동인구(2019).csv')
protection_area=pd.read_csv('9.오산시_어린이보호구역.csv')
school=pd.read_csv('10.오산시_학교위치정보.csv')
elementary_district=gpd.read_file('11.오산시_초등학교_통학구.geojson')
middle_district=gpd.read_file('12.오산시_중학교_학군.geojson')
kinder=pd.read_csv('13.오산시_어린이집_유치원현황.csv')
weather=pd.read_csv('14.오산시_기상데이터(2010~2019).csv')
traffic_cctv=pd.read_csv('15.오산시_무인교통단속카메라.csv')
road_sign=pd.read_csv('16.오산시_도로안전표지표준데이터.csv')
crosswalk=gpd.read_file('17.오산시_횡단보도.geojson')
speed_bump=pd.read_csv('18.오산시_과속방지턱표준데이터.csv')
traffic_sign=gpd.read_file('19.오산시_신호등.geojson')
cctv=pd.read_csv('20.오산시_CCTV설치현황.csv')
sidewalk=gpd.read_file('21.오산시_인도.geojson')
bus_station=pd.read_csv('22.오산시_버스정류장.csv')
road=gpd.read_file('23.오산시_상세도로망_LV6.geojson')
traffic=pd.read_csv('24.평일_전일,시간대별_오산시_추정교통량_Level6.csv')
traffic_frequency=pd.read_csv('25.평일_전일_오산시_혼잡빈도강도_Level6.csv')
traffic_time=pd.read_csv('26.평일_전일_오산시_혼잡시간강도_Level6.csv')
building=gpd.read_file('27.오산시_도로명주소_건물.geojson')
grid_building=gpd.read_file('28.오산시_건물연면적_격자.geojson')
sports=pd.read_csv('29.오산시_체육시설현황.csv')
academy=pd.read_csv('30.오산시_학원_및_교습소_현황.csv')
le_sig=gpd.read_file('31.오산시_법정경계(시군구).geojson')
ad_emd=gpd.read_file('32.오산시_행정경계(읍면동).geojson')
le_emd=gpd.read_file('33.오산시_법정경계(읍면동).geojson')

In [100]:
#지도 그리는 함수 지정
#vworld 지도 api키 갱신함
def drawing_Choro(df, osan_grid, title=None, legend=None):
    # 맵이 center 에 위치하고, zoom 레벨은 16로 시작하는 맵 m을 만듭니다.
    m1 = folium.Map(
        zoom_start=13,
        tiles='http://api.vworld.kr/req/wmts/1.0.0/26BFD173-330E-3D54-9C39-895DDD8F23B3/Base/{z}/{y}/{x}.png',
        attr='My Data Attribution'
    )

    # Choropleth 레이어를 만들고, 맵 m에 추가합니다.
    folium.Choropleth(
        geo_data=osan_grid,
        data=df,
        columns=('gid', 'point'),
        key_on='feature.properties.gid',
        legend_name = legend,
        fill_color='PuBuGn',
        line_opacity = 0.2,
    ).add_to(m1)

    # 맵 m을 출력합니다.
    m1.save(title)

In [47]:
#지도에 맵핑할 격자들 만들기
osan_grid=pop.drop('val',axis=1)
osan_grid

           gid                                           geometry
0     다사551085  MULTIPOLYGON (((126.99422 37.17418, 126.99421 ...
1     다사551086  MULTIPOLYGON (((126.99421 37.17508, 126.99420 ...
2     다사551087  MULTIPOLYGON (((126.99420 37.17599, 126.99420 ...
3     다사551088  MULTIPOLYGON (((126.99420 37.17689, 126.99419 ...
4     다사552085  MULTIPOLYGON (((126.99534 37.17419, 126.99534 ...
...        ...                                                ...
4505  다사646052  MULTIPOLYGON (((127.10138 37.14484, 127.10138 ...
4506  다사646053  MULTIPOLYGON (((127.10138 37.14575, 127.10137 ...
4507  다사647050  MULTIPOLYGON (((127.10252 37.14305, 127.10251 ...
4508  다사647051  MULTIPOLYGON (((127.10251 37.14395, 127.10251 ...
4509  다사647052  MULTIPOLYGON (((127.10251 37.14485, 127.10250 ...

[4510 rows x 2 columns]

In [48]:
# All = [parking, grid_accident, grid_car_enrollment, pop, junior_pop, product_pop, senior_pop, floating_pop, protection_area, school, elementary_district, middle_district, kinder, weather, traffic_cctv, road_sign, crosswalk, speed_bump, traffic_sign, cctv, sidewalk, bus_station, road, traffic, traffic_frequency, traffic_time, building, grid_building, sports, academy, le_sig, ad_emd, le_emd, cadastral_map]
# All_str = ["parking", "grid_accident", "grid_car_enrollment", "pop", "junior_pop", "product_pop", "senior_pop", "floating_pop", "protection_area", "school", "elementary_district", "middle_district", "kinder", "weather", "traffic_cctv", "road_sign", "crosswalk", "speed_bump", "traffic_sign", "cctv", "sidewalk", "bus_station", "road", "traffic", "traffic_frequency", "traffic_time", "building", "grid_building", "sports", "academy", "le_sig", "ad_emd", "le_emd", "cadastral_map"]

# for i, j in zip(All, All_str):
#     print(j)
#     print("#{0} \n{1} \n{2}".format(j, i.info, i.head(10)))
#     print("\n\n")

In [49]:
#주정차 단속
parking.columns=['date','parking_location','admin_area','school_zone',
                 'parking_lon','parking_lat','parking_type']
#스쿨존에 해당하면 1 아니면 0
parking.loc[parking['school_zone']=='N','school_zone']=0
parking.loc[parking['school_zone']=='Y','school_zone']=1
parking

,date,parking_location,admin_area,school_zone,parking_lon,parking_lat,parking_type
0,20181101,금암동 여계산로 부근,경기도 오산시 세교동,0,127.043462,37.170237,이동형CCTV단속
1,20181101,세교동 세마역로19번길,경기도 오산시 세교동,0,127.044770,37.181695,이동형CCTV단속
2,20181101,세교동 수목원로 부근,경기도 오산시 양산동,0,127.042200,37.186357,이동형CCTV단속
3,20181101,오산동 오산로272번길 부,경기도 오산시 원동,0,127.071732,37.150557,이동형CCTV단속
4,20181101,오산동 성호대로93번길,경기도 오산시 부산동,0,127.071757,37.150457,이동형CCTV단속
...,...,...,...,...,...,...,...
61696,20201111,GS25궐동대호점 맞은편,경기도 오산시 청학동,0,127.053064,37.158140,고정형CCTV단속
61697,20201111,물향기지하도,경기도 오산시 원동,0,127.066157,37.171143,고정형CCTV단속
61698,20201111,운암2단지 근린공원삼거,경기도 오산시 청호동,0,127.077283,37.158126,고정형CCTV단속
61699,20201111,궐동 양평해장국 사거리,경기도 오산시 궐동,0,127.056665,37.155827,고정형CCTV단속
61700,20201111,어울림(북개천) 사거리,경기도 오산시 부산동,0,127.068644,37.143810,고정형CCTV단속

In [50]:
#나중에 비율 구할때 써야됨
pop = pop.rename(columns={'val':'pop_val'})
junior_pop = junior_pop.rename(columns={'val':'junior_val'})
senior_pop = senior_pop.rename(columns={'val':'senior_val'})
product_pop = product_pop.rename(columns={'val':'product_val'})

In [51]:
#합치는 코드 있어서 한번만 돌려야됨
#유동인구
col_list=list(floating_pop)
col_list_all=col_list[3:]
col_list_14_20=col_list[17:23]
#모든 시간대 유동인구
floating_pop['all']=floating_pop[col_list_all].sum(axis=1)
#사고가 가장 많이 일어나는 14~20
floating_pop['14_20']=floating_pop[col_list_14_20].sum(axis=1)
floating_pop = floating_pop.rename(columns={'STD_YM':'YM','lon':'floating_lon','lat':'floating_lat'})

In [52]:
#어린이 보호구역
protection_area.columns=['protection_type','protection_name','protection_cctv',
                         'protection_cctv_count','width','protection_lon','protection_lat']
#cctv 있으면 1 없으면 0
protection_area.loc[protection_area['protection_cctv']=='N','protection_cctv']=0
protection_area.loc[protection_area['protection_cctv']=='Y','protection_cctv']=1
protection_area

,protection_type,protection_name,protection_cctv,protection_cctv_count,width,protection_lon,protection_lat
0,특수학교,성심학교,0,0,25,127.017521,37.176762
1,초등학교,가수초등학교,1,1,12,127.047957,37.148103
2,초등학교,광성초등학교,1,2,12,127.039709,37.184197
3,초등학교,대호초등학교,1,3,12,127.057889,37.159106
4,초등학교,매홀초등학교,1,2,6,127.063282,37.162749
...,...,...,...,...,...,...,...
86,어린이집,시립세마어린이집,1,1,12,127.044916,37.184608
87,어린이집,미래숲어린이집,1,1,6,127.044384,37.145326
88,어린이집,시립은여울어린이집,0,0,20,127.066860,37.170952
89,어린이집,설리반어린이집,0,0,5,127.061041,37.164127
90,어린이집,세교복지타운어린이집,1,1,15,127.044835,37.177752

In [53]:
#학교 위치정보
a=school.loc[school['학교구분']=='고등학교'].index
school=school.drop(a)
school.columns=['school_type','school_name','school_lon','school_lat']
school

   school_type  school_name  school_lon  school_lat
0         초등학교       원동초등학교  127.069699   37.135168
1         초등학교       운산초등학교  127.077414   37.152500
2         초등학교       화성초등학교  127.068858   37.164615
3          중학교        대호중학교  127.056978   37.161864
4          중학교        매홀중학교  127.068500   37.167778
5          중학교        성호중학교  127.081003   37.139757
6          중학교      오산원일중학교  127.072561   37.139447
7          중학교        운천중학교  127.078027   37.157888
12        초등학교       가수초등학교  127.047749   37.147919
13        초등학교       다온초등학교  127.090752   37.151698
14        초등학교       매홀초등학교  127.063587   37.162365
15        초등학교       문시초등학교  127.045862   37.174141
16        초등학교       성산초등학교  127.066424   37.149695
17        초등학교       세미초등학교  127.064666   37.173997
18        초등학교       양산초등학교  127.032111   37.196887
19        초등학교     오산고현초등학교  127.085531   37.133365
20        초등학교     오산원당초등학교  127.090864   37.141948
21        초등학교       오산초등학교  127.049953   37.144756
22        초등학교       운암초등학교  127.076144   37.143643
23        초등학교       운천초등학교  127.079173   37.156112
24        초등학교       광성초등학교  127.040034   37.183802
25         중학교        세마중학교  127.042194   37.180692
27         중학교        문시중학교  127.047472   37.174446
28         중학교        운암중학교  127.077170   37.145562
29         중학교        오산중학교  127.061305   37.153004
33        초등학교       금암초등학교  127.044006   37.178385
34        초등학교       대호초등학교  127.057696   37.158998
35        초등학교  매홀초등학교삼미분교장  127.063454   37.162672
36        초등학교       성호초등학교  127.070972   37.150035
37        초등학교       수청초등학교  127.055667   37.170668
38        초등학교     오산대원초등학교  127.071056   37.130446
39        초등학교     오산원일초등학교  127.071199   37.139366
40        초등학교       필봉초등학교  127.052553   37.178499

In [54]:
# 초등학교 통학구
#type이 0이면 단독 통학구 1이면 다중 통학구?
elementary_district.columns=['objectid','district_id','ed_name','ed_type','ed_geometry']
elementary_district.head()

,objectid,district_id,ed_name,ed_type,ed_geometry
0,2648,Z000102542,오산고현초통학구역,0,"MULTIPOLYGON (((127.08560 37.13923, 127.08593 ..."
1,2774,Z000102531,수청초통학구역,0,"MULTIPOLYGON (((127.06076 37.17523, 127.06074 ..."
2,3259,Z000150216,대호초성산초공동통학구역,1,"MULTIPOLYGON (((127.03921 37.16869, 127.03953 ..."
3,3300,Z000102507,문시초통학구역,0,"MULTIPOLYGON (((127.05068 37.17408, 127.05084 ..."
4,3299,Z000102567,필봉초통학구역,0,"MULTIPOLYGON (((127.05151 37.18063, 127.05274 ..."

In [55]:
# 어린이집 유치원현황
kinder=kinder.drop('시설타입',axis=1)
kinder.columns=['kinder_type','kinder_name','kinder_lon','kinder_lat']
kinder

    kinder_type       kinder_name  kinder_lon  kinder_lat
0          어린이집           해오름어린이집  127.084336   37.132383
1          어린이집          햇살가득어린이집  127.041817   37.182164
2          어린이집        행복한아이들어린이집  127.079494   37.152891
3          어린이집        휴튼사과나무어린이집  127.049638   37.177976
4          어린이집  (주)아모레퍼시픽 오산어린이집  127.040252   37.165311
..          ...               ...         ...         ...
302         유치원       매홀초등학교병설유치원  127.063587   37.162365
303         유치원       문시초등학교병설유치원  127.045862   37.174141
304         유치원             세교유치원  127.044332   37.177051
305         유치원       수청초등학교병설유치원  127.055667   37.170668
306         유치원           오산다온유치원  127.090752   37.151698

[307 rows x 4 columns]

In [56]:
#무인교통 단속 카메라
traffic_cctv=traffic_cctv.drop(['도로노선방향','단속구분'],axis=1)
traffic_cctv.columns=['tc_road_name','tc_location_name','tc_lon','tc_lat']
traffic_cctv

    tc_road_name tc_location_name      tc_lon     tc_lat
0           궐리사로    궐동-법원앞(법원사거리)  127.059357  37.159313
1           역광장로         원동-오산역광장  127.067796  37.145409
2           궐리사로         궐동-제일하이빌  127.062386  37.159198
3           궐리사로        궐리사 주차장 앞  127.061920  37.158559
4            운암로      부산동-운천초교 입구  127.077991  37.156216
..           ...              ...         ...        ...
107    경기동로186번길     시티자이2차 아파트 앞  127.091941  37.154632
108         역광장로            오원사거리  127.068303  37.142519
109          청학로          차량등록사업소  127.064287  37.158197
110    수목원로468번길    세교9단지 후문 상가도로  127.050714  37.175949
111          원동로           운암고등학교  127.074068  37.143045

[112 rows x 4 columns]

In [57]:
#도로안전표지 표준데이터
road_sign.columns=['road_sign_num','road_sign_type','road_sign_lon','road_sign_lat']
road_sign

             road_sign_num road_sign_type  road_sign_lon  road_sign_lat
0    ER-400[봉담동탄고속도로]-상-60        2방향예고표지     127.069227      37.182663
1        NR-1[경기대로]-하-1982         시/군계표지     127.040826      37.197859
2     UR(오산시)-16[남부대로]-상-5     3방향도로명예고표지     127.070216      37.135929
3     UR(오산시)-16[남부대로]-하-3          3방향표지     127.064316      37.135531
4     UR(오산시)-16[남부대로]-하-4        3방향예고표지     127.051717      37.134248
..                     ...            ...            ...            ...
826      UR(오산시)-[부원로]-하-2          2방향표지     127.084624      37.144540
827      RR-310[가장로]-상-170        2방향예고표지     127.035840      37.160577
828       RR-82[성호대로]-하-51       사설표지(허가)     127.064309      37.149266
829       RR-82[성호대로]-하-52           하천표지     127.062244      37.149482
830      UR(오산시)-[법원로]-하-5        2방향예고표지     127.056330      37.155599

[831 rows x 4 columns]

In [58]:
#횡단보도
crosswalk.columns=['objectid','crosswalk_geometry']
crosswalk

      objectid                                 crosswalk_geometry
0            2  MULTIPOLYGON (((127.06170 37.15704, 127.06178 ...
1            3  MULTIPOLYGON (((127.03174 37.19499, 127.03176 ...
2            4  MULTIPOLYGON (((127.05525 37.15645, 127.05533 ...
3            5  MULTIPOLYGON (((127.04935 37.13434, 127.04939 ...
4            6  MULTIPOLYGON (((127.06216 37.14973, 127.06228 ...
...        ...                                                ...
1200      1292  MULTIPOLYGON (((127.07846 37.13971, 127.07842 ...
1201      1294  MULTIPOLYGON (((127.08997 37.15087, 127.08994 ...
1202      1295  MULTIPOLYGON (((127.05778 37.15212, 127.05792 ...
1203      1297  MULTIPOLYGON (((127.04281 37.18184, 127.04291 ...
1204      1298  MULTIPOLYGON (((127.05855 37.17111, 127.05862 ...

[1205 rows x 2 columns]

In [59]:
#과속방지턷표준데이터
speed_bump.columns=['bump_road_name','bump_location_name','bump_height','bump_width',
                   'bump_length','bump_sep','bump_continue','bump_lon','bump_lat']
#과속방지턱 보차분리여부,연속형 여부 0,1로 변환
speed_bump.loc[speed_bump['bump_sep']=='N','bump_sep']=0
speed_bump.loc[speed_bump['bump_sep']=='Y','bump_sep']=1
speed_bump.loc[speed_bump['bump_continue']=='N','bump_continue']=0
speed_bump.loc[speed_bump['bump_continue']=='Y','bump_continue']=1
speed_bump

,bump_road_name,bump_location_name,bump_height,bump_width,bump_length,bump_sep,bump_continue,bump_lon,bump_lat
0,오산로,소망빌 앞,10,3.6,5.4,0,1,127.068954,37.130852
1,동부대로,태영철강재공장 앞,10,3.6,5.0,0,1,127.076305,37.137946
2,밀머리로,메디마트 앞,0,3.6,5.4,1,1,127.075093,37.141466
3,오산로,다인하우스 앞,10,3.6,10.0,1,1,127.071169,37.143833
4,운천로,운천고등학교 앞,10,3.6,6.0,1,1,127.080466,37.155872
5,성호대로,오산우체국 앞,10,3.6,5.0,1,1,127.070781,37.149169
6,경기대로,오산동 어린이공원 앞,10,3.6,6.0,0,1,127.072608,37.151294
7,청학로,오산중학교 앞,10,3.6,6.5,1,1,127.061185,37.155124
8,청학로,세산다세대 부근,10,3.6,4.3,1,0,127.062582,37.152656
9,청학로,정석빌딩 앞,10,3.6,4.4,1,0,127.062101,37.150484
10,청학로,오산 성도교회 부근,10,3.6,6.0,1,1,127.064818,37.155640
11,운천로,그린사우나 부근,10,3.6,7.2,1,1,127.056497,37.161214
12,궐리사로,대호빌딩 앞,10,3.6,6.0,1,1,127.056497,37.161214
13,궐리사로,그리스 세차 앞,10,3.6,5.8,1,1,127.056978,37.161163
14,청학로,예향 음악학원 앞,10,3.6,5.4,1,1,127.060703,37.163907
15,오산대역로,물향기마트 앞,10,3.6,5.8,1,1,127.058968,37.169230
16,오산대역로,수목원마트 앞,10,3.6,6.4,1,1,127.059022,37.168952
17,청학로,매홀초등학교 부근,10,3.6,6.3,1,1,127.063412,37.162749
18,수청로,성진아이트래이드,10,3.6,6.3,1,1,127.058934,37.171412
19,수청로,매홀어린이집 앞,10,3.6,8.5,1,1,127.058825,37.171986
20,내삼미로,호반베르디움아파트 부근,10,3.6,6.3,1,1,127.066243,37.175227
21,수청로,주현주택 앞,10,3.6,6.5,1,1,127.056570,37.174811
22,수청로,수청어린이집 부근,10,3.6,6.5,1,1,127.051973,37.177111
23,수청로,소망주택 앞,10,3.6,6.3,1,0,127.057192,37.175625
24,수청로,수청동 제2어린이공원 부근,10,3.6,6.3,1,0,127.058726,37.173895
25,수청로,제주오피스텔 앞,10,3.6,6.4,1,0,127.058285,37.175157
26,양산로,슬라이트 부근,10,3.6,6.2,0,1,127.021448,37.195724
27,수청로,세교10단지 입구 전,10,3.6,5.4,1,1,127.051041,37.178863
28,수청로,필봉초등학교 입구 부근,10,3.6,5.4,1,1,127.051935,37.178089

In [60]:
#신호등
traffic_sign.columns=['objectid','traffic_sign_geometry']
traffic_sign

      objectid       traffic_sign_geometry
0            1  POINT (127.07160 37.14407)
1            2  POINT (127.08149 37.12849)
2            3  POINT (127.03978 37.16155)
3            4  POINT (127.03999 37.16168)
4            5  POINT (127.07838 37.14296)
...        ...                         ...
1493      1494  POINT (127.07888 37.15909)
1494      1495  POINT (127.07832 37.15993)
1495      1496  POINT (127.07850 37.15977)
1496      1497  POINT (127.07820 37.15971)
1497      1498  POINT (127.07803 37.15986)

[1498 rows x 2 columns]

In [61]:
#cctv
cctv.columns=['cctv_type','cctv_road_name','cctv_lat','cctv_lon']
cctv

    cctv_type cctv_road_name   cctv_lat    cctv_lon
0           A  성호대로55번길 31-2  37.151836  127.067541
1           A    성호대로93번길 45  37.152812  127.071702
2           C    성호대로93번길 26  37.151167  127.071677
3           A  운천로165번길 52-1  37.157164  127.075991
4           A     운천로165번길 5  37.156461  127.077273
..        ...            ...        ...         ...
563         E            대원초  37.131781  127.072728
564         E            원일초  37.139445  127.071237
565         E            운천초  37.156239  127.078048
566         E            운산초  37.152348  127.076209
567       NaN            NaN        NaN         NaN

[568 rows x 4 columns]

In [62]:
#인도
sidewalk=sidewalk.drop('QUAL',axis=1)
sidewalk.columns=['sidewalk_id','sidewalk_bicycle',
                  'sidewalk_type','sidewalk_geometry']
#자전거 도로유무 BYC001이 있고 나머지가 없음
sidewalk.loc[sidewalk['sidewalk_bicycle']=='BYC001','sidewalk_bicycle']=1
sidewalk.loc[sidewalk['sidewalk_bicycle']=='BYC002','sidewalk_bicycle']=0
sidewalk

,sidewalk_id,sidewalk_bicycle,sidewalk_type,sidewalk_geometry
0,TRN0400000002N7T0,1,SWK001,"MULTILINESTRING ((127.05144 37.14183, 127.0514..."
1,TRN0400000002N79G,1,SWK001,"MULTILINESTRING ((127.04907 37.14108, 127.0490..."
2,TRN0400000002N7LS,1,SWK001,"MULTILINESTRING ((127.05210 37.14163, 127.0521..."
3,TRN0400000002NAR1,1,SWK001,"MULTILINESTRING ((127.07471 37.14870, 127.0747..."
4,TRN0400000003E7DC,1,SWK001,"MULTILINESTRING ((127.07466 37.14988, 127.0746..."
...,...,...,...,...
1335,TRN050000000048WK,1,SWK002,"MULTILINESTRING ((127.04644 37.17758, 127.0463..."
1336,TRN050000000048XL,1,SWK002,"MULTILINESTRING ((127.02588 37.17715, 127.0259..."
1337,TRN050000000048YM,1,SWK002,"MULTILINESTRING ((127.02783 37.17885, 127.0278..."
1338,TRN050000000048ZN,1,SWK002,"MULTILINESTRING ((127.04136 37.19749, 127.0413..."
1339,TRN0500000000490P,1,SWK002,"MULTILINESTRING ((127.04280 37.19436, 127.0427..."

In [63]:
#버스 정류장
bus_station.columns=['station_id','station_name','station_lon','station_lat']
bus_station

     station_id station_name  station_lon  station_lat
0     223000095  오산시티자이1.2단지   127.091033    37.149983
1     223000124        재래시장앞   127.068700    37.152717
2     223000290         솔매마을   127.026650    37.178833
3     223000289         솔매마을   127.026617    37.178933
4     223000306       죽미마을입구   127.046117    37.178217
..          ...          ...          ...          ...
407   223000501        한신대학교   127.023550    37.196083
408   223000384        성운시스템   127.058383    37.191317
409   223000268       대우푸르지오   127.082333    37.136200
410   223000468    오산마을.한국마트   127.080317    37.135817
411   223509610       서2동회관앞   127.040383    37.152883

[412 rows x 4 columns]

In [64]:
#상세도로망
road

,link_id,max_speed,road_name,road_no,road_rank,link_type,road_type,facil_name,up_lanes,dw_lanes,oneway,length,width,car_lane,num_cross,barrier,geometry
0,478344684,60,수도권제2순환고속도로(봉담동탄,400,108,2,0,None,1,0,1,0.472,1,0,0,0,"MULTILINESTRING ((126.99779 37.17385, 126.9979..."
1,478344686,60,수도권제2순환고속도로(봉담동탄,400,108,2,0,None,2,0,1,0.606,2,0,0,0,"MULTILINESTRING ((126.99779 37.17385, 126.9978..."
2,478344690,60,수도권제2순환고속도로(봉담동탄,400,108,2,0,None,1,0,1,0.383,1,0,0,0,"MULTILINESTRING ((127.00104 37.18002, 127.0009..."
3,478344696,60,오산화성고속도로,171,108,2,0,None,1,0,1,0.488,1,0,0,0,"MULTILINESTRING ((126.99614 37.17621, 126.9963..."
4,478344700,40,오산화성고속도로,171,108,2,0,None,1,0,1,0.28,1,0,0,0,"MULTILINESTRING ((126.99770 37.17692, 126.9975..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,571376981,100,수도권제2순환고속도로(봉담동탄,400,101,1,0,None,2,0,1,0.643,2,1,0,0,"MULTILINESTRING ((127.04011 37.17816, 127.0467..."
1871,571376982,100,수도권제2순환고속도로(봉담동탄,400,101,1,0,None,2,0,1,0.936,2,1,0,0,"MULTILINESTRING ((127.04770 37.18087, 127.0478..."
1872,571376983,100,수도권제2순환고속도로(봉담동탄,400,101,1,2,세교지하차도,2,0,1,0.093,2,1,0,0,"MULTILINESTRING ((127.04674 37.18053, 127.0477..."
1873,900000166,0,None,0,107,32768,0,None,1,0,1,0.065,1,0,0,0,"MULTILINESTRING ((127.05992 37.16942, 127.0601..."
1874,900000167,0,None,0,107,32768,0,None,1,0,1,0.063,1,0,0,0,"MULTILINESTRING ((127.06042 37.16975, 127.0603..."

In [65]:
#평일 시간대별 추정교통량
traffic=traffic.drop(['평일주말','시도명','시군구명'],axis=1)
traffic.columns=['link_id','road_rank','link_length','road_name',
               'emd_name','time','all_traffic','car_traffic',
                'bus_traffic','freight_car_traffic']
traffic

,link_id,road_rank,link_length,road_name,emd_name,time,all_traffic,car_traffic,bus_traffic,freight_car_traffic
0,57137697901,101,0.093,수도권제2순환고속도로(봉담동탄,세마동,0,268.55,193.43,11.99,63.13
1,57135249601,101,0.324,수도권제2순환고속도로(봉담동탄,세마동,0,21.98,15.48,0.75,5.74
2,57135250601,101,0.333,수도권제2순환고속도로(봉담동탄,세마동,0,15.77,9.55,1.50,4.73
3,57137696601,101,0.372,수도권제2순환고속도로(봉담동탄,세마동,0,179.55,135.99,5.22,38.35
4,57137697701,101,0.667,수도권제2순환고속도로(봉담동탄,세마동,0,267.91,192.96,11.96,62.99
...,...,...,...,...,...,...,...,...,...,...
81970,90000016701,107,0.063,NaN,신장동,19,20.41,20.29,0.01,0.12
81971,90000016701,107,0.063,NaN,신장동,20,16.16,16.08,0.01,0.07
81972,90000016701,107,0.063,NaN,신장동,21,12.80,12.75,0.00,0.05
81973,90000016701,107,0.063,NaN,신장동,22,8.92,8.90,0.00,0.02
81974,90000016701,107,0.063,NaN,신장동,23,5.58,5.57,0.00,0.01

In [66]:
# 평일 혼잡빈도강도
traffic_frequency=traffic_frequency.drop(['시도명','시군구명','평일주말','시간적범위'],axis=1)
traffic_frequency.columns=['link_id','road_rank','link_length','road_name',
                          'emd_name','frequency']
traffic_frequency

,link_id,road_rank,link_length,road_name,emd_name,frequency
0,57125499201,101,1.238,경부고속도로,대원동,49.10
1,57125499001,101,1.335,경부고속도로,대원동,70.67
2,57137697901,101,0.093,수도권제2순환고속도로(봉담동탄,세마동,42.61
3,57135249601,101,0.324,수도권제2순환고속도로(봉담동탄,세마동,96.75
4,57135250601,101,0.333,수도권제2순환고속도로(봉담동탄,세마동,99.95
...,...,...,...,...,...,...
3027,57124331702,105,0.107,경기동로,중앙동,92.50
3028,57124331701,105,0.107,경기동로,중앙동,94.17
3029,57125313201,105,0.115,경기동로,중앙동,65.47
3030,90000016701,107,0.063,NaN,신장동,100.00
3031,90000016601,107,0.065,NaN,신장동,100.00

In [67]:
#평일 혼잡시간강도
traffic_time=traffic_time.drop(['시도명','시군구명','평일주말','시간적범위'],axis=1)
traffic_time.columns=['link_id','road_rank','link_length','road_name',
                          'emd_name','time']
traffic_time

          link_id  road_rank  link_length         road_name emd_name   time
0     57125499201        101        1.238            경부고속도로      대원동  59.66
1     57125499001        101        1.335            경부고속도로      대원동  77.13
2     57137697901        101        0.093  수도권제2순환고속도로(봉담동탄      세마동  50.79
3     57135249601        101        0.324  수도권제2순환고속도로(봉담동탄      세마동  99.75
4     57135250601        101        0.333  수도권제2순환고속도로(봉담동탄      세마동  99.99
...           ...        ...          ...               ...      ...    ...
3027  57124063002        106        0.359              남부대로      초평동  23.01
3028  57125193601        106        0.489              남부대로      초평동  80.72
3029  57125193602        106        0.489              남부대로      초평동  90.84
3030  57124902602        106        0.660               가장로      초평동  71.30
3031  57124902601        106        0.660               가장로      초평동  82.99

[3032 rows x 6 columns]

In [68]:
#건물
building=building.drop(['UND_FLO_CO','GRO_FLO_CO','BULD_NM_DC','BULD_NM'],axis=1)
building

,BDTYP_CD,BULD_SE_CD,BUL_MAN_NO,EMD_CD,LNBR_MNNM,LNBR_SLNO,geometry
0,04001,0,23692,102,454,5,"MULTIPOLYGON (((127.08714 37.15535, 127.08714 ..."
1,21005,0,18171,112,519,2,"MULTIPOLYGON (((127.01085 37.18895, 127.01067 ..."
2,21005,0,18154,114,58,1,"MULTIPOLYGON (((127.03588 37.17902, 127.03680 ..."
3,15006,0,18491,114,58,1,"MULTIPOLYGON (((127.03548 37.17860, 127.03576 ..."
4,21005,0,18170,107,42,1,"MULTIPOLYGON (((127.03867 37.17610, 127.03795 ..."
...,...,...,...,...,...,...,...
16444,17105,0,11004,116,607,0,"MULTIPOLYGON (((127.03249 37.14693, 127.03364 ..."
16445,17105,0,11007,116,607,0,"MULTIPOLYGON (((127.03331 37.14699, 127.03406 ..."
16446,17203,0,11008,116,607,0,"MULTIPOLYGON (((127.03347 37.14644, 127.03356 ..."
16447,17105,0,11005,116,607,0,"MULTIPOLYGON (((127.03253 37.14660, 127.03310 ..."
16448,17105,0,11006,116,607,0,"MULTIPOLYGON (((127.03241 37.14676, 127.03363 ..."

In [69]:
#격자별 건물연견적
grid_building

           gid  val                                           geometry
0     다사551085  NaN  MULTIPOLYGON (((126.99422 37.17418, 126.99421 ...
1     다사551086  NaN  MULTIPOLYGON (((126.99421 37.17508, 126.99420 ...
2     다사551087  NaN  MULTIPOLYGON (((126.99420 37.17599, 126.99420 ...
3     다사551088  NaN  MULTIPOLYGON (((126.99420 37.17689, 126.99419 ...
4     다사552085  NaN  MULTIPOLYGON (((126.99534 37.17419, 126.99534 ...
...        ...  ...                                                ...
4505  다사646052  NaN  MULTIPOLYGON (((127.10138 37.14484, 127.10138 ...
4506  다사646053  NaN  MULTIPOLYGON (((127.10138 37.14575, 127.10137 ...
4507  다사647050  NaN  MULTIPOLYGON (((127.10252 37.14305, 127.10251 ...
4508  다사647051  NaN  MULTIPOLYGON (((127.10251 37.14395, 127.10251 ...
4509  다사647052  NaN  MULTIPOLYGON (((127.10251 37.14485, 127.10250 ...

[4510 rows x 3 columns]

In [70]:
#체육시설
sports.columns=['sports_type','sports_lon','sports_lat']
sports

    sports_type  sports_lon  sports_lat
0          육상시설  127.073804   37.157197
1          기타시설  127.041923   37.179440
2          기타시설  127.075720   37.158754
3           테니스  127.077445   37.149806
4           테니스  127.070223   37.155640
..          ...         ...         ...
140       체육도장업  127.045700   37.147668
141       체육도장업  127.056167   37.160918
142       체육도장업  127.068877   37.150437
143       체육도장업  127.090695   37.150806
144       체육도장업  127.067535   37.158164

[145 rows x 3 columns]

In [71]:
#학원,교습소
academy.columns=['academy_type','acdemy_subject','academy_lon','academy_lat']
academy

     academy_type  acdemy_subject  academy_lon  academy_lat
0             교습소              음악   127.048919    37.146279
1             교습소              미술   127.048919    37.146279
2             교습소              보습   127.052419    37.145809
3        학교교과교습학원  종합(국,수,사,과,논술)   127.048919    37.146279
4        학교교과교습학원    피아노(체르니40이상)   127.048919    37.146279
...           ...             ...          ...          ...
1781     학교교과교습학원          피아노중급반   127.050280    37.145999
1782     학교교과교습학원            국수사과   127.049558    37.142116
1783     학교교과교습학원      피아노(고급주3회)   127.062722    37.165033
1784     학교교과교습학원           피아노초급   127.062722    37.165033
1785     학교교과교습학원           체르니30   127.086780    37.142726

[1786 rows x 4 columns]

In [99]:
# 정민 수정사항(12/21)
# 오산시 격자별 유소년 인구수/총 인구수 데이터 전처리

junior_all_pop = junior_pop.merge(pop, on ='gid')
junior_all_pop = junior_all_pop.drop(['geometry_x'], axis = 1)
junior_all_pop.columns = ['gid', 'junior_val', 'pop_val', 'geometry']
junior_all_pop['junior_ratio'] = junior_all_pop['junior_val']/junior_entire_pop['pop_val'] * 100

junior_ratio_pop = junior_all_pop
junior_ratio_pop['junior_ratio'].value_counts()
junior_ratio_pop = junior_ratio_pop.fillna(0)
junior_ratio_pop

,gid,junior_val,pop_val,geometry,junior_ratio
0,다사551085,0.0,0.0,"MULTIPOLYGON (((126.99422 37.17418, 126.99421 ...",0.0
1,다사551086,0.0,0.0,"MULTIPOLYGON (((126.99421 37.17508, 126.99420 ...",0.0
2,다사551087,0.0,0.0,"MULTIPOLYGON (((126.99420 37.17599, 126.99420 ...",0.0
3,다사551088,0.0,0.0,"MULTIPOLYGON (((126.99420 37.17689, 126.99419 ...",0.0
4,다사552085,0.0,0.0,"MULTIPOLYGON (((126.99534 37.17419, 126.99534 ...",0.0
...,...,...,...,...,...
4505,다사646052,0.0,0.0,"MULTIPOLYGON (((127.10138 37.14484, 127.10138 ...",0.0
4506,다사646053,0.0,0.0,"MULTIPOLYGON (((127.10138 37.14575, 127.10137 ...",0.0
4507,다사647050,0.0,0.0,"MULTIPOLYGON (((127.10252 37.14305, 127.10251 ...",0.0
4508,다사647051,0.0,0.0,"MULTIPOLYGON (((127.10251 37.14395, 127.10251 ...",0.0
4509,다사647052,0.0,0.0,"MULTIPOLYGON (((127.10251 37.14485, 127.10250 ...",0.0